#competition {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 3%;
    padding-top: 2%;
}

.competition-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.competition-content-box {
    width: 40vw;
    height: min-content;
    margin: 2vh 0vw 3vh 0vw;
    padding: 2vh 2vw;
    background-color: #b5dfff;
}

.competition-content-box h2 {
    margin: 2vh 0vw 0vh 0vw;
    font-size: 1.5vw;
}

.competition-content-box h4 {
    margin: 0% 0% 0% 0.5%;
}

.competition-content-box div {
    margin: 2vh 0vw 3vh 0vw;
}

.competition-content-box a {
    color: #172435;
    text-decoration: none;
}

.competition-content-box a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#rosterContainer {
    width: 80vw;
    height: 80vh;
    margin: 0%;
    padding: 0%;
}

#roster {
    width: inherit;
    height: inherit;
    background-color: #b5dfff;
    border: 1px solid black;
}
