html {
    overflow: scroll;
}

#questionEditor {
    width: 90vw;
}

.question {
    display: none;
    flex-direction: column;
}

div.form-check-label {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
}

#mqOptions {
    display: flex;
    flex-direction: row;
}

#mqOptionsA, #mqOptionsB {
    display: flex;
    flex-direction: column;
}

label > .material-icons {
    font-size: 2vw;
}

.option-text, .option-text > input {
    width: 100% !important;
}

